@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'
.user
  // 用户信息
  .user-msg
    padding 0 1.5rem 2.0rem
    bg-image('./img/bg', 100%)
    background-repeat: repeat-y
    height 12.3rem
    .bar-action
      padding 0.9rem 0
      width 100%
      display flex
      justify-content space-between
      .btn-edit
        width 2rem
        height 2rem
        bg-image('./img/shezhi', 100% 100%)
      .btn-msg
        width 2rem
        height 2rem
        bg-image('./img/xiaoxi', 100% 100%)
    .bar-show
      display flex
      align-items center
      bg-image('./img/jiantou', 0.8rem)
      background-position center right
      .photo
        position relative
        width 6.5rem
        height 6.5rem
        border 1px solid $g-brc-default
        overflow hidden
        img
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          width 100%
          height auto
      .text
        padding-left 0.75rem
        .user-name
          font-size $g-fs-xxl
          color $g-white
        .user-lever
          padding-top 0.75rem
          font-size $g-fs-md
          color $g-white
  .scroll
    z-index 99999
    position fixed
    top 13.3rem
    bottom $g-bot-bar-height
    width 100%
    max-width 750px
  // 订单状态
  .user-order
    background-color $g-bgc-con
    .bar-order
      display flex
      justify-content space-between
      padding 0 1.5rem
      border-bottom 1px solid $g-brc-default
      .my-order
        height 4.0rem
        line-height 4.0rem
        font-size $g-fs-lg
        color $g-fc-black
      .btn-show-all
        padding-right 1.2rem
        height 4.0rem
        line-height 4.0rem
        font-size $g-fs-sm
        color $g-fc-gray
        bg-image('./img/jiantou2', 0.6rem)
        background-position center right
    .order-type
      display flex
      height 7.5rem
      .btn-order
        flex 1
        .icon
          margin 1.25rem auto 1.0rem
          width 2.5rem
          height 2.5rem
        .text
          text-align center
        .daifu
          bg-image("img/daifu", 100%)
        .daifa
          bg-image("img/daifa", 100%)
        .daishou
          bg-image("img/daishou", 100%)
        .daiping
          bg-image("img/daiping", 100%)
        .tuihuan
          bg-image("img/tuihuan", 100%)
  // 用户关于
  .user-about
    margin-top $g-margin-sm
    background-color $g-bgc-con
    .btn-about
      display flex
      align-items center
      padding 0 1.5rem
      height 4.0rem
      border-bottom 1px solid $g-brc-default
      .icon
        width 1.75rem
        height 1.75rem
      .text
        padding-left 1.5rem
        font-size 1.5rem
        color $g-fc-black
      .soucang
        bg-image("img/soucang", 100%)
      .guanzhu
        bg-image("img/guanzhu", 100%)
      .fenxiang
        bg-image("img/fenxiang", 100%)
      .pingjia
        bg-image("img/pingjia", 100%)
      .dizhi
        bg-image("img/dizhi", 100%)
      .qiandao
        bg-image("img/qiandao", 100%)
      .kefu
        bg-image("img/kefu", 100%)
      .huiyuan
        bg-image("img/huiyuan", 100%)
      .zhanghu
        bg-image("img/zhanghu", 100%)
      .jifen
        bg-image("img/jifen", 100%)
  // 用户私有
  .user-private
    margin-top 0.5rem
