@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'

.home
  .top-bar
    display flex
    justify-content space-between
    align-items center
    position fixed
    top 0
    z-index 10
    height $g-fix-bar-height
    width 100%
    max-width $g-page-max-width
    background url("./img/topbar-bg.png") no-repeat center
    margin-bottom 1px
    transition all .5s
    .search-form
      flex 100%
      padding-left 1rem
      .search-input
        position relative
        padding-left $g-padding-xxl
        padding-right $g-padding-lg
        outline none
        border-radius $g-search-inp-height
        width 100%
        height $g-search-inp-height
        line-height $g-search-inp-height
        background $g-col-white-g
        font-size $g-fs-md
      .search-icon
        content ''
        position absolute
        left 2rem
        top 50%
        width $g-fs-md
        height $g-fs-md
        bg-image("./img/search")
        transform translate3d(0,-50%,0)
    .msg-btn
      display flex
      flex-direction column
      justify-content center
      align-items center
      height $g-fix-bar-height
      flex 0 0 5.5rem
      text-align center
      > img
        width $g-top-icon-w
        height $g-top-icon-w
      > p
        text-align center
        font-size $g-fs-min
        color $g-fc-white
	.scroll
		position fixed
		top $g-fix-bar-height
		bottom $g-bot-bar-height
		width 100%
		max-width 750px
	.cube-slider
		width 100%
		height auto
		.slider-img
			width 100%
			height auto
	.tab-container
		background-color $g-bgc-con
		.tab-item
			display inline-block
			width 20%
			text-align center
			.tab-img
				margin 15%
				width 70%
				padding-top 70%
			.tab-name
			  font-size 1.1rem
    .pinpai
      bg-image("img/pinpai", 100%)
    .gangqin
      bg-image("img/gangqin", 100%)
    .jita
      bg-image("img/jita", 100%)
    .guanyue
      bg-image("img/guanyue", 100%)
    .xianyue
      bg-image("img/xianyue", 100%)
    .minyue
      bg-image("img/minyue", 100%)
    .jianpan
      bg-image("img/jianpan", 100%)
    .jiajiyue
      bg-image("img/jiajiyue", 100%)
    .peijian
      bg-image("img/peijian", 100%)
    .gengduo
      bg-image("img/gengduo", 100%)
	.brand-container
		margin-top $g-margin-sm
		background-color $g-bgc-con
		.brand-more
			padding 1.2rem 1.5rem
			.con
				border-left 0.3rem solid $g-fc-red-tit
				display flex
				justify-content space-between
				bg-image("img/jiantou", 0.6rem)
				background-position center right
				.title
					padding 0 0.75rem
					font-size 1.5rem
					line-height 1.5rem
					color $g-fc-red-tit
				.btn-more
					padding 0 1rem
					line-height 1.5rem
					font-size 1.3rem
					color $g-fc-gray
		.brand-list
			display flex
			flex-wrap wrap
			padding 0 1.25rem
			.brand
				flex 20% 0 0
				padding 0 0.25rem 1rem
				width 25%
				img
					width 100%
					border 1px solid $g-brc-default
	.goods-container
		margin-top $g-margin-sm
		background-color $g-bgc-con
		.goods-item-list
			vertical-align top
			margin-bottom 0.5rem
			padding 0 1rem
			&.goods-item-list:last-child
				margin 0
		.list-title
			position relative
			padding 1.2rem 0.5rem
			font-size 0
			.title-tab
				display inline-block
				margin-right 0.75rem
				height 1.5rem
				width 0.3rem
				background-color rgb(18,86,105)
			.title-name
				vertical-align top
				display inline-block
				font-size 1.5rem
				height 1.5rem
				line-height 1.5rem
			.title-more
				position absolute
				padding-right 1rem
				top 1.2rem
				right 0.5rem
				font-size 1.3rem
				height 1.5rem
				line-height 1.5rem
				color $g-fc-gray
				bg-image("img/jiantou", 0.6rem)
				background-position center right
		.list-box
			display flex
			width 100%
			flex-wrap wrap
		.goods-box
			width 50%
			box-sizing border-box
			padding 0 0.5rem 1rem
			.goods-content
				vertical-align top
				box-sizing border-box
				border 1px solid $g-brc-default
				width 100%
				.goods-img-box
					width 100%
					.goods-img
						width 100%
						height auto
				.goods-title
					padding 0.75rem 0.75rem 1.5rem
					h2
						font-size $g-fs-md
						height 3rem
						line-height 1.5rem
						color $g-fc-black
						more-wrap()
				.goods-action
					display flex
					justify-content space-between
					padding 0 0.75rem 1rem
					.goods-price
						height 1.5rem
						line-height 1.5rem
						font-family $g-ff-ap
						font-weight 500
						font-size $g-fs-sm
						color $g-fc-red-price
						span
							font-size $g-fs-lg
							font-weight 500
					.goods-buy
						width 1.5rem
						height 1.5rem
						bg-image("img/che", 1.5rem)


