@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'

.home
	.home-header
		position fixed
		top 0
		z-index $g-zindex-fix
		width 100%
		max-width $g-page-max-width
		height $g-fix-bar-height
		line-height $g-fix-bar-height
		background-color $g-col-red
		h2
			padding-left $g-padding-lg
			font-size $g-fs-lg
			color $g-col-white-g
	.scroll
		position fixed
		top $g-fix-bar-height
		bottom $g-bot-bar-height
		width 100%
		max-width 750px
	.cube-slider
		width 100%
		height auto
		.slider-img
			width 100%
			height auto
	.goods-list-container
		.goods-item-list
			vertical-align top
			margin-bottom 0.5rem
			padding 0 1rem
			background-color #fff
			&.goods-item-list:last-child
				margin 0
		.list-title
			position relative
			padding 1.2rem 0.5rem
			font-size 0
			.title-tab
				display inline-block
				margin-right 0.75rem
				height 1.5rem
				width 0.3rem
				background-color rgb(18,86,105)
			.title-name
				vertical-align top
				display inline-block
				font-size 1.5rem
				height 1.5rem
				line-height 1.5rem
			.title-more
				position absolute
				padding-right 1rem
				top 1.2rem
				right 0.5rem
				font-size 1.3rem
				height 1.5rem
				line-height 1.5rem
				color #666
				bg-image("img/jiantou", 0.6rem)
				background-position center right
		.list-box
			display flex
			width 100%
			flex-wrap wrap
		.goods-box
			width 50%
			box-sizing border-box
			padding 0 0.5rem 1rem
			.goods-content
				vertical-align top
				box-sizing border-box
				border 1px solid #f3f3f3
				width 100%
				.goods-img-box
					width 100%
					.goods-img
						width 100%
						height 16.75rem
				.goods-title
					height 2rem
					line-height 1rem
					more-wrap()


