@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'
.user-sign-in
  background #fff
  .logo-bar
    background yellow
    width 100%
    height 21rem
    visibility hidden
    .logo
      position relative
      top 9rem
      margin 0 auto
      width 10rem
      height 4.5rem
      bg-image('./img/logo',100% 100%)
  .input-bar
    padding 1rem
    .cube-input
      position: relative
      font-size: $g-fs-lg
      line-height: 1.429
      border-bottom 1px solid $g-brc-normal
      input
        width: 100%
        padding: .75rem
        color: red
        line-height: inherit
        background-color: #fff
        border-radius: 2px
        outline: none
      .cube-input_active
        &::after
          border-color transparent
      .cube-input-clear, .cube-input-eye
        position absolute
        right 1rem
        top 50%
        padding 0
        margin 0
        width auto
        height auto
        line-height 1
        transform translate3d(0,-50%,0)
        > i
          display: inline-block
          transform: scale(1.2)
        + input
          padding-right: 2.6em
      .cube-input-eye
        >
        .cubeic-eye-invisible, .cubeic-eye-visible
          transform: scale(1.4)
      .cube-input-clear
        + .cube-input-eye
          right: 2.6em
          + input
            padding-right: 5.2em
