@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'
.user-sign-in
  background #fff
  .logo-bar
    background yellow
    width 100%
    height 21rem
    visibility hidden
    .logo
      position relative
      top 9rem
      margin 0 auto
      width 10rem
      height 4.5rem
      bg-image('./img/logo',100% 100%)
  .input-bar
    //background skyblue
    //width 100%
    //padding 0 1rem 1rem
    //.account-box,
    //.password-box
    //  border-bottom 1px solid $g-brc-normal
    //  .input-account,
    //  .input-password
    //    position: relative
    //    font-size: $fontsize-medium
    //    line-height: 1.429
    //    background wheat
    //    .cube-input-clear,
    //    .cube-input-eye
          //position absolute
          //right 1rem
          //top 50%
          //padding 0
          //margin 0
          //width auto
          //height auto
          //line-height 1
          //color #999
          //transform translate3d(0,-50%,0)
          //background red
