@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'
$g-search-page-bgc      = rgba(245,245,245,1)//页面背景色
$g-search-con-bgc       = rgba(255,255,255,1)//内容背景色
$g-search-list-fix-screen-cancel-btn-bgc = rgba(204,204,204,1)//取消按钮背景色
$g-search-list-fix-screen-ok-btn-bgc = rgba(255,47,74,1)//取消按钮背景色

$g-search-list-title-h  = 4rem//搜索列表标题

$g-search-list-item-h   = 4rem//搜索列表标题
$g-search-list-mode-item-min-h = 6rem//列表模式每项高度

$g-search-list-fix-nav-w = 20rem//悬浮导航宽度
$g-search-list-fix-nav-h = 6rem//悬浮导航高度

$g-search-list-fix-nav-btn-w = 5rem//悬浮导航按钮宽度
$g-search-list-fix-nav-btn-h = 4rem//悬浮导航按钮高度

$g-search-list-fix-screen-w = 80%//悬浮筛选模块宽度

$g-search-list-fix-screen-input-h = 3rem//悬浮筛选列表头部输入框高度
$g-search-list-fix-screen-li-h    = 4rem//悬浮筛选列表每项高度
$g-search-list-fix-screen-bot-btn-h = 4rem//悬浮筛选列表底部按钮高度


.search-list
  position absolute
  top 0
  left 0
  //z-index $g-zindex-fix + 1
  width 100vw
  //height 100vh
  background $g-bgc-body
  .inner
    //margin 0 auto $g-fix-bar-height
    width 100%
    max-width $g-page-max-width

.screen-tab
  position fixed
  top $g-fix-bar-height
  z-index 10
  border-top 1px solid $g-bgc-body
  width 100%
  max-width $g-page-max-width
  background $g-bgc-con
.screen-title
  position relative
  width 100%
  max-width $g-page-max-width
  margin 0 auto
  border-top 1px solid transparent
  //margin-top $g-fix-bar-height
  height $g-search-list-item-h

  >ul
    background $g-search-con-bgc
    height $g-search-list-item-h
    position absolute
    width 100%
    max-width $g-page-max-width
    z-index 2
    display flex
    >li
      flex 1
      position relative
      text-align center
      height $g-search-list-item-h
      line-height $g-search-list-item-h
      font-size $g-fs-xxl
      font-weight 500
      color $g-fc-normal
      .tit
        &.act
          color $g-fc-act
    .comprehensive
      >i
        img
          display inline-block
      >i.on-v
        img
          display none
      .dropdown-list
        display none
        position absolute
        top 100%
        border-bottom-left-radius $g-con-padding-sm
        border-bottom-right-radius $g-con-padding-sm
        width 400%
        height auto
        background $g-bgc-con
        box-shadow 0 0 2px 1px $g-brc-normal
        overflow hidden
        z-index 1
        >ol
          >li
            position relative
            padding 0 1rem
            border-bottom 1px solid $g-brc-normal
            text-align left
          >.act:after
            content ""
            position absolute
            top 50%
            right 1rem
            width 2rem
            height 2rem
            transform translate3d(0,-50%,0)
            bg-image("img/xuanze")

      .sup-tc
        display none
        position fixed
        left 0
        top $g-search-list-item-h + $g-fix-bar-height
        width 100%
        height 100%
        background $g-black-07

    .comprehensive.on
      >i
        img
          display none
      >i.on-v
        img
          display inline-block
    .sales-volume.up,
    .price.up
      >.up
        display inline-block
      >.donw
        display none
    .sales-volume.donw,
    .price.donw
      >.donw
        display inline-block
      >.up
        display none

.products
  position relative
  top $g-fix-bar-height + $g-search-list-item-h
.search-products
  &.bigpic-mode
    display flex
    flex-wrap wrap
    width 100vw
    padding 1% 1% $g-bot-bar-height*2 1%
    max-width $g-page-max-width
    li
      padding .25rem
      flex 0 0 50%
      width 50%
      .item-inner
        width 100%
        padding-bottom $g-padding-sm
        border 1px solid $g-brc-normal
        background $g-search-con-bgc

        img
          width 100%
          height auto
      .infobox
        padding 0 .25rem
        .title
          a
            display inline-block
            width 100%
            //no-wrap()
            font-size $g-fs-md
            color $g-fc-normal
            height 3rem
            line-height 1.55rem

            display -webkit-box
            overflow hidden
            white-space normal !important
            text-overflow ellipsis
            word-wrap break-word
            -webkit-line-clamp 2
            -webkit-box-orient vertical
        .price
          color $g-fc-red
          span
            font-size $g-fs-sm
            font-weight 500
            line-height 1.5rem
          .int-num
            font-size $g-fs-xl
        .sales
          position relative
          span
            font-size $g-fs-sm
            color $g-fc-gray-l

  &.list-mode
    padding 1% 1% $g-bot-bar-height 1%
    li
      .item-inner
        position relative
        border 1px solid $g-brc-normal
        background $g-search-con-bgc
        padding .5rem
        > div
          top 0
          min-height 6rem
        .imgbox
          position relative
          display inline-block
          width 25%
          img
            width 100%
        .infobox
          position absolute
          display inline-block
          width 75%
          height 100%
          padding $g-padding-sm

        .infobox
          .title
            padding-right $g-padding-sm
            a
              font-size $g-fs-md
              color $g-fc-normal
              height 3.5rem
              line-height 1.55rem

              display -webkit-box
              overflow hidden
              white-space normal !important
              text-overflow ellipsis
              word-wrap break-word
              -webkit-line-clamp 2
              -webkit-box-orient vertical
          .price
            position absolute
            color $g-fc-red
            bottom $g-padding-sm
            span
              font-size $g-fs-sm
              font-weight 500
              .int-num
                font-size $g-fs-xl
          .sales
            position relative
            span
              font-size $g-fs-sm
              color $g-fc-gray-l

.cube-scroll-wrapper
  //height 95vh - ($g-search-list-title-h + $g-search-list-title-h)
  height 100vh
.mask
  position fixed
  top 0
  right 0
  width 100vw
  height 100vh
  background rgba(0,0,0,.5)
  z-index 1100
.fix-screen-list
  position fixed
  top 0
  //right -100%
  right 0
  z-index 1100
  width $g-search-list-fix-screen-w
  height 100%
  padding-bottom $g-search-list-fix-screen-bot-btn-h
  background $g-search-con-bgc
  overflow auto
  .sort-item
    &.off
      dd
        height 0
      dt
        .obtn
          bg-image("./img/jiantou")
  dl
    transition height 1s
    border-bottom 1px solid $g-brc-normal
    padding $g-padding-sm 0 0 0
    dt
      position relative
      padding $g-padding-sm
      h3
        font-weight 500
        font-size $g-fs-max
        color $g-fc-normal
      .obtn
        position absolute
        top 20%
        right 1rem
        width 1.5rem
        height 1.5rem
        bg-image("./img/jiantou2")
    dd
      padding $g-padding-sm $g-padding-xs
      overflow hidden
      >div
        display inline-block
        width 31%
        font-size $g-fs-md
      .input-box
        background $g-search-page-bgc
        height $g-search-list-fix-screen-input-h
        line-height $g-search-list-fix-screen-input-h
        >input[type="number"]
          width 100%
          height 100%
          background transparent
          outline none
          border none
          color $g-fc-normal
          padding $g-padding-normal
          text-indent $g-padding-normal
      ul
        display flex
        flex-direction row
        flex-wrap wrap
        >li
          position relative
          border-radius .6rem
          margin $g-padding-sm
          max-width 100%
          overflow hidden
          a
            display block
            font-size $g-fs-md
            color $g-fc-normal
            background $g-search-page-bgc
            padding $g-padding-sm
        >li.act
          a
            background $g-search-page-bgc - #222
      .sort-item-address
        >ul
          display flex
        li
          position relative
          span
            position absolute
            right -30%
            top 40%
            width 1.5rem
            height 1.5rem
        .reset-address
          width 1.5rem
          height 1.5rem
          bg-image("./img/dingwei")
  .btnbox
    position fixed
    right -100%
    bottom 0
    height $g-search-list-fix-screen-bot-btn-h
    width $g-search-list-fix-screen-w
    >div
      width 50%
      position absolute
      top 0
      height $g-search-list-fix-screen-bot-btn-h
      line-height $g-search-list-fix-screen-bot-btn-h
      text-align center
      color $g-fc-white
      font-size $g-fs-md
      .cancel-btn
        left 0
        background $g-search-list-fix-screen-cancel-btn-bgc
      .ok-btn
        right 0
        background $g-search-list-fix-screen-ok-btn-bgc
