@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $g-bgc-body
  color: $g-fc-black
  overflow-x hidden

// 路由视口 公共样式 -begin
.router-view
  position absolute
  top 0
  width 100%
  height 100%
  overflow-x hidden
// 路由视口 公共样式 -end

// 路由跳转 进出场动画 -begin
.slide-fade-enter-active
  transition: all .3s ease
.slide-fade-leave-active
  transform: translateX(100%)
  transition: all .4s ease
.slide-fade-enter
  transform: translateX(100%)
.slide-fade-leave-active
  //transform: translateX(100%)
// 路由跳转 进出场动画 -end
