@import "variable.styl"
@import "mixin.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $g-bgc-body
  color: $g-fc-black
  overflow-x hidden

// 路由视口 公共样式 -begin
.home, .brands, .sort, .cart, .main-search, .user, .goods-detail
  position absolute
  width 100%
  min-height 100%
  max-width $g-page-max-width
  overflow-x hidden
  background-color $l-bgc-app
// 路由视口 公共样式 -end


