// 宽度限制
$g-page-max-width  = 750px; // 最大宽度

// 悬浮栏高度
$g-fix-bar-height  = 4rem; // 悬浮栏高度
$g-top-bar-height  = 3rem; // 顶栏高度
$g-bot-bar-height  = 4.5rem; // 底栏高度

// 输入框尺寸
$g-search-inp-height = 2.8rem; // 主搜索框高度

// 图标尺寸
$g-top-icon-w = 2rem;  // 顶栏图标宽度
$g-bot-icon-w = 2rem;  // 底栏图标宽度

// 内边距
$g-padding-min    = .1rem;  // 内容容器留白
$g-padding-xs     = .25rem; // 内容容器留白
$g-padding-sm     = .5rem;  // 内容容器留白
$g-padding-normal = 1rem;   // 内容容器留白
$g-padding-lg     = 1.5rem; // 内容容器留白
$g-padding-xl     = 2rem;   // 内容容器留白
$g-padding-xxl    = 2.5rem; // 内容容器留白

// 外边距
$g-margin-min     = .2rem; // 内容容器上下间距
$g-margin-sm      = 1rem;  // 内容容器上下间距
$g-margin-normal  = 2rem;  // 内容容器上下间距
$g-margin-lg      = 3rem;  // 内容容器上下间距
$g-margin-xl      = 4rem;  // 内容容器上下间距
$g-margin-max     = 6rem;  // 内容容器上下间距

// 布局层级
$g-zindex-top-abs = 999;  // 绝对顶层
$g-zindex-top     = 500;  // 遮罩之上
$g-zindex-mask    = 300;  // 遮罩层
$g-zindex-fix     = 100;  // 悬浮层
$g-zindex-default = 5;    // 正常使用层
$g-zindex-bot     = -1;   // 常用层之下
$g-zindex-bot-abs = -999; // 绝对底层

// 字体风格
$g-ff-all   = "punctuation", "PingFangSC-Regular", "Microsoft YaHei", "微软雅黑";
$g-ff-ap    = "punctuation", "PingFangSC-Regular";
$g-ff-my    = "Microsoft Yahei","微软雅黑";
$g-ff-st    = "SimSun", "宋体";
$g-ff-ar    = "Arial";
$g-ff-vr    = "Verdana";

// 字体尺寸
$g-fs-xmin      = .8rem;  // 最小字号
$g-fs-min       = .9rem;  // 迷你字号
$g-fs-xs        = 1rem;   // 加小字号
$g-fs-sm        = 1.1rem; // 偏小字号
$g-fs-normal    = 1.2rem; // 常用字号
$g-fs-md        = 1.3rem; // 中等字号
$g-fs-lg        = 1.4rem; // 偏大字号
$g-fs-xl        = 1.5rem; // 加大字号
$g-fs-xxl       = 1.6rem; // 加加大字号
$g-fs-xxxl      = 1.7rem; // 加加加大字号
$g-fs-max       = 1.8rem; // 超大字号
$g-fs-tit-xs    = 1.9rem; // 小标题字号
$g-fs-tit-sm    = 2rem;   // 小标题字号
$g-fs-tit-md    = 2.2rem; // 中标题字号
$g-fs-tit-lg    = 2.4rem; // 中标题字号
$g-fs-tit-xl    = 2.6rem; // 大标题字号
$g-fs-tit-xxl   = 2.8rem; // 大标题字号

// 黑白透明
$g-white      = rgba(255,255,255, 1); // 最白
$g-white-09   = rgba(255,255,255,.9); // 淡白
$g-white-08   = rgba(255,255,255,.8); // 淡白
$g-white-07   = rgba(255,255,255,.7); // 淡白
$g-white-06   = rgba(255,255,255,.6); // 淡白
$g-white-05   = rgba(255,255,255,.5); // 淡白
$g-white-04   = rgba(255,255,255,.4); // 淡白
$g-white-03   = rgba(255,255,255,.3); // 淡白
$g-white-02   = rgba(255,255,255,.2); // 淡白
$g-white-01   = rgba(255,255,255,.1); // 淡白
$g-black      = rgba(0,0,0, 1);       // 最黑
$g-black-09   = rgba(0,0,0,.9);       // 淡黑
$g-black-08   = rgba(0,0,0,.8);       // 淡黑
$g-black-07   = rgba(0,0,0,.7);       // 淡黑
$g-black-06   = rgba(0,0,0,.6);       // 淡黑
$g-black-05   = rgba(0,0,0,.5);       // 淡黑
$g-black-04   = rgba(0,0,0,.4);       // 淡黑
$g-black-03   = rgba(0,0,0,.3);       // 淡黑
$g-black-02   = rgba(0,0,0,.2);       // 淡黑
$g-black-01   = rgba(0,0,0,.1);       // 淡黑

// 常用主色
$g-col-red       = rgba(255,47,74,1);   // 红 - 主色
$g-col-gray-w    = rgba(204,204,204,1); // 灰白
$g-col-white-g   = rgba(238,238,238,1); // 白偏灰

// 常用文本颜色
$g-fc-white      = rgba(255,255,255,1); // 文本颜色 - 白
$g-fc-black      = rgba(51,51,51,1);    // 文本颜色 - 淡黑
$g-fc-normal     = rgba(85,85,85,1);    // 文本颜色 - 常用
$g-fc-gray-b     = rgba(119,119,119,1); // 文本颜色 - 深灰
$g-fc-gray       = rgba(153,153,153,1); // 文本颜色 - 灰色
$g-fc-gray-l     = rgba(187,187,187,1); // 文本颜色 - 浅灰
$g-fc-gray-w     = rgba(204,204,204,1); // 文本颜色 - 灰白
$g-fc-red-price  = rgba(240,42,42,1);   // 文本颜色 - 价格
$g-fc-red        = rgba(237,0,0,1);     // 文本颜色 - 深红
$g-fc-act        = rgba(240,42,42,1);   // 文本颜色 - 选中
$g-fc-red-tit    = rgba(255,47,74,1);   // 文本颜色 - 偏红标题
$g-fc-red-org    = rgba(255,95,46,1);   // 文本颜色 - 橙红
$g-fc-link       = rgba(153,153,153,1); // 文本颜色 - 链接
$g-fc-yellow     = rgba(255,169,4,1);   // 文本颜色 - 黄色
$g-fc-yellow-tit = rgba(255,150,0,1);   // 文本颜色 - 偏黄大字

$g-fc-hot        = rgba(255,47,74,1);   // 文本颜色 - 主页人气产品
$g-fc-need       = rgba(255,144,0,1);   // 文本颜色 - 主页必买清单
$g-fc-goods      = rgba(255,17,135,1);  // 文本颜色 - 主页购-好物

$g-fc-bot-act    = rgba(237,0,0,1);     // 底栏选中状态颜色

//边框颜色
$g-brc-default   = rgba(245,245,245,1); // 常用边框颜色
$g-brc-normal    = rgba(238,238,238,1); // 常用边框颜色
$g-brc-dark      = rgba(187,187,187,1); // 常用边框颜色

//背景颜色
$g-bgc-root  = rgba(235,235,235,1);   // 背景色 - 页面
$g-bgc-body  = rgba(245,245,245,1);   // 背景色 - body
$g-bgc-con   = rgba(255,255,255,1);   // 背景色 - 内容填充
$g-bgc-gray  = rgba(240,240,240,1);   // 背景色 - 灰底
$l-bgc-app   = rgba(246,248,249,1);   // 背景色 - #app背景色

$g-bgc-btn-yellow   = rgba(255,169,4,1);   // 按钮背景色 - 黄（加入购物车）
$g-bgc-btn-red      = rgba(237,0,0,1);     // 按钮背景色 - 红（立即购买）
$g-bgc-btn-gray     = rgba(221,221,221,1); // 按钮背景色 - 灰（按钮禁用）
$g-bgc-btn-green    = rgba(0,192,0,1);     // 按钮背景色 - 绿（滑动按钮）

//各专题颜色
$g-sorts-tit-0 = rgba(237,0,0,1);    // 品牌标题主色
$g-sorts-tit-1 = rgba(78,84,105,1);  // 钢琴标题主色
$g-sorts-tit-2 = rgba(85,211,233,1); // 键盘乐器标题主色
$g-sorts-tit-3 = rgba(229,167,190,1);// 管乐标题主色
$g-sorts-tit-4 = rgba(121,163,239,1);// 弦乐标题主色
$g-sorts-tit-5 = rgba(151,207,56,1); // 吉他标题主色
$g-sorts-tit-6 = rgba(177,149,233,1);// 民族乐器标题主色
$g-sorts-tit-7 = rgba(67,210,156,1); // 打击乐器标题主色
$g-sorts-tit-8 = rgba(251,109,157,1);// 配件标题主色
$g-sorts-tit-9 = rgba(251,167,77,1); // 更多标题主色



