@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'
.main-search
  position fixed
  width 100vw
  height 100vh
  max-width $g-page-max-width
  background $g-bgc-body
  .inner
    margin 0 auto $g-bot-bar-height
    width 100%
    max-width $g-page-max-width
    background $g-bgc-body
    .top-bar
      position fixed
      top 0
      z-index 10
      display flex
      max-width $g-page-max-width
      justify-content space-between
      align-items center
      height $g-fix-bar-height
      width 100%
      background $g-bgc-con
      margin-bottom 1px
      transition all .5s
      .search-form
        flex 100%
        padding-left 1rem
        .search-input
          position relative
          padding-left $g-padding-xxl
          padding-right $g-padding-lg
          border-radius $g-search-inp-height
          width 100%
          height $g-search-inp-height
          line-height $g-search-inp-height
          background $g-col-white-g
          font-size $g-fs-md
        .search-icon
          content ''
          position absolute
          left 2rem
          top 50%
          width $g-fs-md
          height $g-fs-md
          bg-image("./img/search")
          transform translate3d(0,-50%,0)

      .search-btn,
      .msg-btn
        height $g-fix-bar-height
        flex 0 0 5.5rem
        text-align center
        > img
          width $g-top-icon-w
          height $g-top-icon-w
        > p
          text-align center
          font-size $g-fs-min
          color $g-fc-white
      .search-btn
        display flex
        justify-content center
        align-items center
        > span
          border-radius .2rem
          padding $g-padding-sm
          font-size $g-fs-xl
          color $g-fc-white
          background $g-col-red
      .change-btn
        display flex
        justify-content center
        align-items center
        height $g-fix-bar-height
        flex 0 0 5.5rem
        text-align center
        .img
          width $g-top-icon-w
          height $g-top-icon-w
        &.bigpic-mode
          .img
            bg-image("./img/liebiao")
        &.list-mode
          .img
            bg-image("./img/tupian")
  .quick-search
    margin-top $g-fix-bar-height
    dl
      margin-bottom $g-margin-sm
      padding-bottom $g-con-padding-normal
      border-top 1px solid $g-bgc-body
      background $g-bgc-con
      dt
        display flex
        justify-content space-between
        align-items center
        position relative
        height $g-fix-bar-height
        padding 0 $g-padding-normal
        > div
          height $g-fix-bar-height
          line-height $g-fix-bar-height
        .title
          font-size $g-fs-max
          font-weight 500
        .delete
          width $g-top-icon-w
          height $g-top-icon-w
          bg-image("./img/shanchu")
      dd
        ul
          list-style none
          display flex
          flex-wrap wrap
          flex-direction row
          padding .5rem
          li
            display inline-block
            margin $g-padding-sm
            max-width 100%
            background $g-bgc-gray
            a
              display: inline-block
              text-overflow: ellipsis
              overflow: hidden
              white-space: nowrap
              height $g-fs-lg
              max-width 10rem
              color $g-fc-normal
              font-size $g-fs-lg
              margin  $g-padding-sm
